html{
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    z-index: 40;
}
.navbar {
    background-color: rgb(148 138 182);
    /* border: 5px solid rgb(0, 0, 0); */
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    height: 13vh;
}

.left {
    width: 33vw;
    /* border: 2px solid red; */
}

.left img {
    width: 7rem;
    /* border: 2px solid blue; */
    margin: 0.5em 0.5em;
}

.right {
    width: 66vw;
    /* border: 2px solid red; */
}

.links {
    overflow: auto;
    /* margin: 0px;
    padding: 0px; */
    /* border: 2px solid rgb(227, 152, 152); */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#link1 {
    /* height: 30px; */
    width: 15vw;
    list-style: none;
    /* border: 2px solid blue; */
    /* margin: 2rem 2rem; */
    padding: 2rem 2rem;
    /* justify-content: center; */
    float: right;
    font-family: PT Sans;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    text-wrap: wrap;
}

#link2 {
    /* height: 30px; */
    width: 35vw;
    list-style: none;
    /* border: 2px solid blue; */
    /* margin: 2rem 2rem; */
    padding: 2rem 2rem;
    float: right;
    font-family: PT Sans;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    text-wrap: wrap;
}

#link3 {
    /* height: 30px; */
    width: 35vw;
    list-style: none;
    /* border: 2px solid blue; */
    /* margin: 21px 12px;
    padding: 8px 8px; */
    padding: 2rem 2rem;
    float: right;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: PT Sans;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    text-wrap: wrap;
}

#link4 {
    /* height: 30px; */
    width: 20vw;
    list-style: none;
    /* border: 2px solid blue; */
    /* margin: 21px 12px;
    padding: 8px 8px; */
    padding: 2rem 2rem;
    float: right;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: PT Sans;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    text-wrap: wrap;
}

.links li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    scroll-behavior: smooth;
}

.links li a:hover {
    color: rgb(83, 52, 185);;
}

@media only screen and (max-width:480px){
    /* .navbar {
        background-color: rgb(148 138 182); */
        /* border: 5px solid rgb(0, 0, 0); */
        /* border-radius: 5px;
        display: flex;
        flex-direction: row;
        height: 90px;
    } */
}